@font-face {
  font-family: "SemiCond-Black";
  src: url("/src/fonts/SemiCondW05-Black.woff2") format("woff2"),
    url("/src/fonts/SemiCondW05-Black.woff") format("woff") local(Arial),
    local(Helvetica);
}

@font-face {
  font-family: "Brice-Black";
  src: url("/src/fonts/Brice-Bold.otf") format("opentype") local(Arial),
    local(Helvetica);
}
@font-face {
  font-family: "SemiCond-Demi";
  src: url("/src/fonts/SemiCond-Demi.ttf") format("opentype") local(Arial),
    local(Helvetica);
}
/* About main container */
.about-container {
  background-color: var(--main-bg-color);
  padding: 0rem 3.4rem;
  display: grid;
  grid-template-rows: minmax(auto, calc(100vh - 14rem)) max-content 1fr;
  row-gap: 8rem;
}

/* FIRST SECTION */
.about-container_first-section {
  grid-row: 1/2;
  position: relative;
}

.about-container_first-section .img {
  border-radius: 50px;
  background-image: url(/src/imgs/summer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.about-container_first-section .title {
  font-family: "Brice-Black";
  font-size: 10rem;
  text-shadow: 3px 3px var(--text-clr);
  -webkit-text-fill-color: var(--footer-text-clr);
  -webkit-text-stroke-color: var(--footer-bg-clr);
  -webkit-text-stroke-width: 2px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: max-content;
}

/* SECOND SECTION */

.about-container_second-section {
  grid-row: 2/3;
  text-align: center;
}

.about-container_second-section h2 {
  font-family: "Brice-Black";
  font-size: 7rem;
  color: var(--button-bg-clr);
  text-shadow: 3px 3px var(--text-clr);
  -webkit-text-stroke: 2px var(--text-clr);
}

.about-container_second-section .img {
  margin-top: 8rem;
  width: 95%;
}

/* THIRD SECTION */

.about-container_third-section {
  grid-row: 3/4;
  width: 40%;
  margin: auto;
  margin-bottom: 8rem;
}
.about-container_third-section h3 {
  font-family: "SemiCond-Black";
  text-align: center;
  text-transform: uppercase;
  color: var(--footer-bg-clr);
  font-size: 2rem;
  letter-spacing: 1px;
}

.about-container_third-section p {
  text-align: center;
  font-family: "SemiCond-Demi";
  color: var(--footer-bg-clr);
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 1.6rem 0rem;
}
