@font-face {
  font-family: "SemiCondW05-Black";
  src: url("/src/fonts/SemiCondW05-Black.woff2") format("woff2"),
    url("/src/fonts/SemiCondW05-Black.woff") format("woff"), local(Arial),
    local(Helvetica);
}

@font-face {
  font-family: "SemiCond-Thin";
  src: url("/src/fonts/SemiCond-Thin.woff2") format("woff2");
  src: url("/src/fonts/SemiCond-Thin.woff") format("woff"), local(Arial),
    local(Helvetica);
}

/* Nav Container style */
.nav-container {
  padding: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, max-content);
  align-items: center;
  justify-content: center;
  column-gap: 1.6rem;
  background-color: var(--main-bg-color);
}
/* Nav icon style */
.nav-icon {
  max-width: 60px;
}

/* Nav position set for undeline */
.nav__page-link {
  position: relative;
}

/* Nav btn and div */
.nav-btn,
.nav__page-link {
  font-family: "SemiCondW05-Black";
  color: var(--text-clr);
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav-btn {
  padding: 0.5rem 2.4rem;
  border: 3px solid var(--text-clr);
  background-color: var(--button-bg-clr);
  border-radius: 8px;
}

.nav-btn:hover {
  transition: 0.2s;
  background-color: var(--button-bg-hover-clr);
}

/* Underline Animation  */
.nav__page-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--button-bg-clr);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.25s ease-in-out;
}

.nav__page-link:hover::after {
  transform: scaleX(1);
}
