:root {
  --text-clr: #254653;
  --button-bg-clr: #f3a161;
  --button-bg-hover-clr: #f0d876;
  --footer-text-clr: #ffffff;
  --footer-bg-clr: #254653;
  --main-bg-color: #fff8f2;
  --menu-section-color: #f0d876;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#header {
  position: sticky;
  top: 0;
  z-index: 10;
}

#main {
  flex: 1;
}
